<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <title>Editar usuario</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <style>
    /* Estilos para la imagen de fondo */
    .contenedor-imagen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      /* Coloca la imagen detrás de todo */
    }

    .contenedor-imagen img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* Ajusta la imagen para que cubra todo el contenedor */
    }
  </style>
</head>

<body>
  <!-- Barra de navegación -->
  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link {% if request.path == 'inicio' %}active{% endif %}" href="{% url 'inicio' %}"
          style="color: #261acf;">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == 'libro' %}active{% endif %}" href="{% url 'libro' %}"
          style="color: #261acf;">Libros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == 'ingresar' %}active{% endif %}" href="{% url 'ingresar' %}"
          style="color: #261acf;">Ingresar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == 'registrarse' %}active{% endif %}" href="{% url 'registrarse' %}"
          style="color: #261acf;">Registrarse</a>

      <li class="nav-item">
        <a class="nav-link {% if request.path == 'vista_api' %}active{% endif %}" href="{% url 'vista_api' %}"
          style="color: #261acf;">Aprende mas sobre Harry Potter!</a>

      <li class="nav-item">
        <a class="nav-link {% if request.path == 'vista_api_libros' %}active{% endif %}"
          href="{% url 'vista_api_libros' %}" style="color: #261acf;">Libros Clasicos</a>
      </li>
    </ul>
  </div>

  <div class="container">
    {% if usuario %}
    <h1 style="color: #f0eeeb;">Editar usuario {{ usuario.username }}</h1>
    {% endif %}
    <a href="{% url 'inicio' %}" class="btn btn-dark" style="background-color: #14aedd;">Volver</a>
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <form id="formulario_registro" action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
                <label for="" class="form-label">Nombre Usuario</label>
                <input type="text" class="form-control" name="nombre" id="nombre"
                  value="{{ usuario_actualizar.username }}">
                <small class="text-danger" id="codigo-error"></small>
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" id="email" value="{{ usuario_actualizar.email }}">
                <small class="text-danger" id="codigo-error"></small>
              </div>

              <div class="d-grid">
                <button type="submit" class="btn btn-primary" style="background-color: #14aedd;">Guardar</button>
                {% if mensaje_confirmacion %}
                {{ mensaje_confirmacion }}
                {% endif %}
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Imagen de fondo -->
  <div class="contenedor-imagen">
    <img src="{% static 'Imagenes/imagen_fondo/fondo1.png'%}" class="img-fluid" alt="Imagen fondo">
  </div>

</body>
<script src="{% static 'js/bootstrap.min.js' %}"></script>




<!--PROYECTO ET_MARCA GUIA.-->

</html>