<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Esto centra el formulario verticalmente */
      }
    </style>
  </head>
  <body>
      <div>
          <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link " href="{%url 'inicio'%}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'libro'%}">Libros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" aria-disabled="true">Ingresar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{%url 'registrarse'%}">Registrarse</a>
          </li>
          </ul>
      </div>
    <div class="container">
      {% load static %}
      <div style="padding: 130px; border: 1px solid #ccc; border-radius: 10opx; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);" >
        <h1>Ingresa!</h1>
        <form action="" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Dirección Email</label>
            <input type="email" class="form-control" id="user" name="user" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="pass" name="pass" requerid class="form-control">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
            <br>
            <div>
              <td><a href="{% url 'recuperar_contrasena' %}">recuperar contrasena</a></td>
              {% csrf_token %}
              </form>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
          {% if mensaje_error %}
                <p>{{ mensaje_error }}</p>
          {% endif %}
          {% if mensaje_Bienvenida %}
                <p>{{ mensaje_Bienvenida }}</p>
          {% endif %}
          {% if error %}
                <p>{{ error }}</p>
          {% endif %}
        </form>
      </div>
    </div>
  </body>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>
