<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <title>Inicio</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<style>
    /* Estilos para la imagen de fondo */
    .contenedor-imagen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      /* Coloca la imagen detrás de todo */}

    .contenedor-imagen img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* Ajusta la imagen para que cubra todo el contenedor */
    }

    
  </style>

</head>

<body>

  <!-- Barra de navegación -->
  <div>
    <ul class="nav nav-tabs" style="color: #eeeef1;">
      <li class="nav-item">
        <a class="nav-link active" href="{%url 'inicio'%}" style="color: #261acf;">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'libro'%}" style="color: #261acf;">Libros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'ingresar'%}" style="color: #261acf;">Ingresar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{%url 'registrarse'%}" style="color: #261acf;">Registrarse</a>
      </li>
    </ul>
  </div>

  <!-- Botones de cerrar sesión y editar usuario -->
  <div style="float: right; margin-top: 10px;">
    <div style="margin-bottom: 10px;">
      <form action="{% url 'cerrar_sesion' %}" method="post">
        {% csrf_token %}
        <button type="submit"
          style="background-color: #dc35aa; color: #fff; border: none; padding: 10px 20px; border-radius: 5px;">Cerrar
          Sesión</button>
      </form>
    </div>
    <div>
      <form action="{% url 'editar_usuario' %}" method="POST">
        {% csrf_token %}
        <button type="submit"
          style="background-color: #14aedd; color: #fff; border: none; padding: 10px 20px; border-radius: 5px;">Editar
          Usuario</button>
      </form>
    </div>
  </div>



  <!-- Mensaje de bienvenida -->
  <div class="container text-center" style="color:#f8f7f7;">
    {% if request.method == "GET" %}
    {% if usuario %}
    {% if usuario.id_tipo_usuario == 1 %}
    <h1>Bienvenido {{ usuario.username }}</h1>
    <h2>Privilegio: Administrador</h2>
    {% elif usuario.id_tipo_usuario == 2 %}
    <h1>Bienvenido {{ usuario.username }}</h1>
    <h2>Privilegio: Cliente</h2>
    {% endif %}
    {% endif %}
    {% endif %}
  </div>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-- Texto Bienvenida y descriptivo --> 
  <Center><div class="texto-Bv" style="color: #edf1f5;">
    <h3>Sumérgete en un mundo de infinitas posibilidades, donde cada página es un portal a nuevas aventuras, conocimientos y emociones.
      En nuestra biblioteca, encontrarás una amplia selección de libros cuidadosamente elegidos para satisfacer todos los gustos y edades.
      Explora las estanterías virtuales y déjate llevar por la magia de la literatura.¡Esperamos que disfrutes tu estancia y que encuentres inspiración en cada página!.</h3>
  </div> </Center>

  <!-- Imagen de fondo -->
  <div class="contenedor-imagen">
    <img src="{% static 'Imagenes/imagen_fondo/fondo1.png'%}" class="img-fluid" alt="Imagen fondo">
  </div>

</body>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</html>