<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <title>Recuperar Contrasenia</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
      
    </style>
  </head>
  <body>
  <div>
      <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link  active" aria-current="page" aria-disabled="true">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'libro'%}">Libros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'ingresar'%}">Ingresar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{%url 'registrarse'%}">Registrarse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'vista_api'%}">Aprende mas sobre Harry Potter!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'vista_api_libros'%}">Libros Clasicos</a>
      </li>
    </ul>
</div>
      </ul>
  </div>
  
  <div class = "container">
    {% if usuario %}
          <h2>Recuperar Contraseña </h2>
    {% endif %}
    <h1>Confirma tu usuario </h1>
    <a href= "{% url 'inicio' %}" class="btn btn-dark">Volver</a>
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <form id="formulario_registro" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="" class="form-label">Ingrese Correo</label>
              <input type="email" class="form-control" name="correo" id="correo" value="{{ usuario_actualizar.useremail }}">
              <small class="text-danger" id="codigo-error"></small>
            </div>

            <div class="mb-3">
              <label for="" class="form-label">Ingrese nombre mascota</label>
              <input type="text" class="form-control" name="mascotaname" id="mascotaname" value="{{ usuario_actualizar.mascotaname }}">
              <small class="text-danger" id="codigo-error"></small>
            </div>

            <div class="d-grid">
                <form action="{% url 'cambiar_clave' %}" method="post">
                <button type="submit" class="btn btn-primary">Confirmar</button>
                {% if mensaje_confirmacion %}
                    {{ mensaje_confirmacion }}
                {% endif %}
                </form>
            </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </body>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>